<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (products.items.length > 0) { %>
        <ul class="cart__item-list">
            <% products.items.forEach(p => { %>
            <li class="cart__item">
                <h1><%= p.productId.title %></h1>
                <h2>Quantity: <%= p.quantity %></h2>
                <h2>Price:$<%= p.productId.price %></h2>

                <form action="/cart-delete-item" method="POST">
                    <input type="hidden" value="<%= p.productId._id %>" name="productId">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn-danger" type="submit">Delete</button>
                </form>
            </li>
            <% }) %>
            <li class="cart__item">

                <h1>TotalPrice:  $<%= products.totalprice %> </h1>

            </li>
        </ul>
        <hr>
        <div>
           
            <h3 align="center"> <strong> Payment Method: </strong> </h3>  
            <h6 align="center"> <strong> We accept all type of Cards!!</strong> </h6>  
                    <div class="container">

                        <h3 align="center"> <strong>  <a href="/payment-page" class="btn btn-primary">Credit/Debit Card</a> </strong> </h3>  
             
                           


            </div>
           
        </div>

        <% } else { %>
        <h1>No Products in Cart!</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>